@model IEnumerable<BaseModel.Cliente>

@{
    ViewBag.Title = "Clientes Inativos";
}

<h2>@ViewBag.Title</h2>

<p>    
    @Html.ActionLink("Cliente Ativos", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cpf_Cnpj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Obs)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cpf_Cnpj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Obs)
        </td>
        <td>
            @Html.ActionLink("Ativar", "Ativar", new { id=item.ClienteID })
        </td>
    </tr>
}

</table>
