@model BaseModel.ContaReceber

@{
    ViewBag.Title = "Detalhes";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>ContaReceber</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._Grupo.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Grupo.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_PrevRecebimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_PrevRecebimento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ContaReceberID }) |
    @Html.ActionLink("Voltar para a lista de Contas a Receber Ativas", "Index")
</p>
