@model BaseModel.Grupo

@{
    ViewBag.Title = "Ativar SubGrupo";
}

<h2>@ViewBag.Title</h2>

<h3>Você tem certeza que deseja ativar esse SubGrupo?</h3>
<div>
    <h4>Grupo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grupo_ID_Pai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grupo_ID_Pai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ativar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para a lista de SubGrupos", "IndexAtivarSubGrupo")
        </div>
    }
</div>
