@model IEnumerable<BaseModel.Grupo>

@{
    ViewBag.Title = "SubGrupos Inativos";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inativo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grupo_ID_Pai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inativo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grupo_ID_Pai)
        </td>
        <td>
            @Html.ActionLink("Ativar", "AtivarSubGrupo", new { id=item.GrupoID })
        </td>
    </tr>
}

</table>
