@model IEnumerable<BaseModel.Grupo>

@{
    ViewBag.Title = "Grupos Inativos";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Grupos Ativos", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Ativar", "AtivarGrupo", new { id=item.GrupoID })
        </td>
    </tr>
}

</table>
