@model IEnumerable<BaseModel.SubGrupo>

@{
    ViewBag.Title = "SubGrupos Ativos";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Adicionar Novo SubGrupo", "Create") |
    @Html.ActionLink("SubGrupos Inativos", "IndexAtivarSubGrupo")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model._Grupo.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item._Grupo.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.SubGrupoID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.SubGrupoID }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.SubGrupoID })
        </td>
    </tr>
}

</table>
