@model IEnumerable<BaseModel.SubGrupo>

@{
    ViewBag.Title = "SubGrupos Inativos";
}

<h2>@ViewBag.Title</h2>

<p>    
    @Html.ActionLink("SubGrupos Ativos", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model._Grupo.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item._Grupo.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Ativar", "Ativar", new { id=item.SubGrupoID })
        </td>
    </tr>
}

</table>
